* {
    box-sizing: border-box;
  }
  :root {
    --bg-color1: #8B5DFF;
    --bg-color2: #6A42C2;
    --bg-color3: #FFF7D1;
    --bg-color4: #563A9C;
  }
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
    45deg,
      var(--bg-color2) 20%,
      var(--bg-color1) 40%,
      var(--bg-color4) 90%
    );
  }


#navbar {
    position: fixed;
    display: flex;
    background-color: var(--bg-color1);
    width: 100vw;
    justify-content: flex-end;
    border-bottom: 2px solid black;
    z-index: 2;
}

  #navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 20px;
    text-decoration: none;
    }
  
  #navbar ul * {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
  
  #welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--bg-color3);
    height: 100vh;
    width: auto;
      
  }
  h1 {
    font-size: 5rem;
    color: purple;
    font-family: "Girassol", serif;
    font-weight: 400;
    font-style: normal;
  }
  #welcome-section p {
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .break {
    border: 1px solid black;
    color: red;
    z-index: 1;
    width: 60%;
  }

  #projects {
    height: fit-content;
    background-color: var(--bg-color1);
    width: 85%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
  }

  #project {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #projects .img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  #img-1, #img-2 {
    max-width: 800px;
    max-height: 1000px;
    width: auto;
    height: auto;
    margin: auto;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #000;
    transition: transform 0.3s ease-out;
  }

  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
  a + p {
    font-size: 1.5rem;
    text-align: center; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-weight: 200;
    color: var(--bg-color3);
  }
  h2 {
    text-align: center;
    font-family: "Girassol", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 10px;
    color: var(--bg-color3);
  }
  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    height: 500px;
    background-color: var(--bg-color3);
    border: 1px solid black;
    
  }
.box {
    
    border: solid 2px;
    border-image:           linear-gradient(crimson 1em,  #0000 0 calc(100% - 1em), crimson 0) 1;
    padding: 2em 1em;
    
}
quote {
    font-size: 2.5rem;
    font-family: "Girassol", serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 10px;
    color: var(--bg-color4);
}
#footer {
    margin-top: 0px;
    width: 100vw;
    height: fit-content;
    background-color: var(--bg-color3);
}
.social {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
}
#email-me {
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#end-text {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
  @media (max-width: 1000px) {
    .container {
       max-width: 100%; 
    }
    #img-1, #img-2 {
        max-width: 80%;
    }
    img + p {
        font-size: 1.0rem;
    }
    .box {
      width: 50%;
    }
  } 
